<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">Jz</span
    ><span class="main-header__title--orange">Store</span>
  </h1>
  <div class="container-menu">
    <nav class="main-header__menu">
      <ul>
        <li>
          <a routerLink="/products"> Produtos </a>
        </li>
        <li>
          <a routerLink="/cart">
            Carrinho
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="badge-cart">{{ quantityCart() }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <app-search-bar></app-search-bar>
  </div>
</header>
