<h2 class="cart-title">Carrinho de compras</h2>
<div *ngIf="cartItems.length > 0, else noProducts">
  <ul>
    <li *ngFor="let item of cartItems">
      <img [src]="item.image" [alt]="item.description">
      <p>{{ item.description }}</p>
      <p>Preço unitário: {{ item.price | currency: 'BRL' }}</p>
      <label>
        Quantidade:
        <input type="number" min="1" [(ngModel)]="item.quantity" (change)="totalPrice()">
        <button class="remove-button" (click)="removeItem(item)">
          <i class="fa-sharp fa-solid fa-xmark"></i>
        </button>
      </label>
    </li>
  </ul>
  <h2 class="cart-total">Total: {{ total | currency: 'BRL'}}</h2>
  <button class="buy-button" (click)="checkout()">Comprar</button>
</div>

<ng-template class="container" #noProducts>
  <p class="empty-cart">Seu carrinho está vazio</p>
</ng-template>
